# Git
.git
.gitignore

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Python / documentos
*.py
*.pdf
*.docx

# Guías HTML (no van al contenedor)
guías_html_para_php/

# README (no necesario en el contenedor)
README.md
